{% extends "for_users/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Привет еще раз, {{ user.username }}!</h1>
    <main>
        <section class="welcome">
            <p>Знаю, что вы в предкушении. Вы готовы анализировать и зарабатывать!<br><br>
            Но прежде, я бы хотел познакомить вас поближе с нашим сайтом, чтобы подарить вас бесценную возможность
                эффективно пользоваться им.<br><br>
            Я уверяю, что после того как вы изучите эту пошаговую инструкцию один раз - вы к ней больше не вернетесь!
            <br><br>Начнем обучение.
            <h3>1. Загрузи данные профиля</h3>
            Сперва необходимо обратить свое внимание на ссылку <a href="profil">Данные профиля</a>. Когда вы по ней перейдете,
            то увидите форму "Добавьте магазин". <br> <br>
            <div class="center"> <img src="{% static 'for_users/img/ph1.jpg' %}" width="720px" ></div>
            <br>В нее необходимо загрузить данные о своем магазине (или даже нескольких).
            Для того чтобы данные о вашем магазине сохранились, необходимо заполнить все поля формы</p>
        </section>
    </main>
</div>
{% endblock %}
