{% extends "for_users/base.html" %}

{% block content %}
<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Начни свой бизнес по принципу 80 на 20!</h1>
</div>

<main>
        <section class="welcome">
            <p>Привет, {{ user.username }}! </p>
            <p>Мы рады приветствовать вас на страницах нашего сайта. Здесь вы сможете начать бизнес по новому, а именно по принципу Парето!</p>
            <p>Наша команда усердно работает, чтобы предоставить вам лучший опыт использования сайта. Сегодня вы сможете анализировать ваши товары на рентабельность, а также с помощью нашего анализа посмотреть 20% тех категорий товаров, которые приносят 80% всего дохода вашей компании.</p>
            <p>Не стесняйтесь обращаться к нам с вопросами, предложениями или отзывами. Мы ценим ваше мнение и стремимся сделать наш сайт еще более удобным и интересным для вас.</p>
            <p>Спасибо за вашу поддержку и доверие. Приятного времяпрепровождения на нашем сайте!</p>
        </section>
</main>
{% endblock %}
