{% extends 'for_users/base.html' %}

{% block content %}
<h1>Анализ по принципу Парето</h1>
<p>На этой странице вы сможете анализировать свои товары и продажи. <br>

{% if not selected_shop %}
<h2>Выберите магазин:</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Выбрать магазин</button>
</form>
{% endif %}

{% if selected_shop %}
<p><h3>Вы выбрали магазин: {{ selected_shop }}</h3>
<h4>Информация о магазине {{ selected_shop }}</h4>
Название: {{ selected_shop }}<br>
Модель работы: {{ selected_shop.md }}<br>
Способ отгрузки: {{ selected_shop.moe }}<br>
Тариф перевода: {{ selected_shop.tt }}<br>
<h1>Скачайте файл товаров</h1>
Загрузите данные о ваших товарах
<form method="post" enctype="multipart/form-data" name="product_form" id="product_form">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="product">
    {{ form_product.as_p }}
    <button type="submit">Загрузить файл</button>
</form>
{% if product_pareto %}
<h1>"Рентабельность по категории товаров"</h1>
<table>
    <thead>
        <th>Категория</th>
        <th>Продажа</th>
        <th>Доход</th>
        <th>Рентабельность</th>
    </thead>
    <tbody>
    {% for item in product_pareto.0 %}
      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.sum_d }}</td>
        <td>{{ item.sum_p }}</td>
        <td>{{ item.profitability}}</td>
      </tr>
    {% endfor %}
    </tbody>

    <tfoot>
        <th>Всего</th>
        <th>{{ product_pareto.1 }}</th>
        <th>{{ product_pareto.2 }}</th>
    </tfoot>

</table>

<h1>Результат анализа по категориям товара</h1>
<table>
  <thead>
    <tr>
      <th>Категория</th>
      <th>Процент от общей суммы (цена)</th>
      <th>Процент от общей суммы (прибыль)</th>
      <th>Общий процент (цена)</th>
      <th>Общий процент (прибыль)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in product_pareto.0 %}

        {% if item.all_procent_profit <= 80 %}
            <tr class="p_tr">
                <td>{{ item.category }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ item.category }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
       {% endif %}
    {% endfor %}
  </tbody>
</table>

<h1>Рентабельность по товару</h1>
<table>
    <thead>
        <th>Категория</th>
        <th>Продажа</th>
        <th>Доход</th>
        <th>Рентабельность</th>
    </thead>
    <tbody>
    {% for item in product_product_pareto.0 %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.sum_d }}</td>
        <td>{{ item.sum_p }}</td>
        <td>{{ item.profitability}}</td>
      </tr>
    {% endfor %}
    </tbody>

    <tfoot>
        <th>Всего</th>
        <th>{{ product_pareto.1 }}</th>
        <th>{{ product_pareto.2 }}</th>
    </tfoot>

</table>

<h1>Результат анализа по товару</h1>
<table>
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Процент от общей суммы (цена)</th>
      <th>Процент от общей суммы (прибыль)</th>
      <th>Общий процент (цена)</th>
      <th>Общий процент (прибыль)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in product_product_pareto.0 %}
     {% if item.all_procent_profit <= 80 %}
            <tr class="p_tr">
                <td>{{ item.name }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
       {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endif %}


<h1>Анализ продаж</h1>
Скачайте файл продаж для того, чтобы провести анализ</p>

<form method="post" enctype="multipart/form-data" name="sale_form" id="sale_form">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="sale">
    {{ form_sale.as_p }}
    <button type="submit">Upload</button>
</form>
{% endif %}

<h1>Результат анализа продаж</h1>
{% if sale_pareto %}
<h1>"Рентабельность по категориям проданных товаров"</h1>
<table>
    <thead>
        <th>Категория</th>
        <th>Продажа</th>
        <th>Доход</th>
        <th>Рентабельность</th>
    </thead>
    <tbody>
    {% for item in sale_pareto.0 %}

      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.sum_d }}</td>
        <td>{{ item.sum_p }}</td>
        <td>{{ item.profitability}}</td>
      </tr>
    {% endfor %}
    </tbody>

    <tfoot>
        <th>Всего</th>
        <th>{{ sale_pareto.1 }}</th>
        <th>{{ sale_pareto.2 }}</th>
    </tfoot>

</table>

<h1>Результат анализа продаж по категориям товаров</h1>
<table>
  <thead>
    <tr>
      <th>Категория</th>
      <th>Процент от общей суммы (цена)</th>
      <th>Процент от общей суммы (прибыль)</th>
      <th>Общий процент (цена)</th>
      <th>Общий процент (прибыль)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in sale_pareto.0 %}
        {% if item.all_procent_profit <= 80 %}
            <tr class="p_tr">
                <td>{{ item.category }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ item.category }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
       {% endif %}
    {% endfor %}
  </tbody>
</table>

<h1>"Рентабельность по проданным товарам"</h1>
<table>
    <thead>
        <th>Категория</th>
        <th>Продажа</th>
        <th>Доход</th>
        <th>Рентабельность</th>
    </thead>
    <tbody>
    {% for item in sale_product_pareto.0 %}

      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.sum_d }}</td>
        <td>{{ item.sum_p }}</td>
        <td>{{ item.profitability}}</td>
      </tr>
    {% endfor %}
    </tbody>

    <tfoot>
        <th>Всего</th>
        <th>{{ sale_pareto.1 }}</th>
        <th>{{ sale_pareto.2 }}</th>
    </tfoot>

</table>

<h1>Результат анализа продаж по проданным товарам</h1>
<table>
  <thead>
    <tr>
      <th>Категория</th>
      <th>Процент от общей суммы (цена)</th>
      <th>Процент от общей суммы (прибыль)</th>
      <th>Общий процент (цена)</th>
      <th>Общий процент (прибыль)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in sale_product_pareto.0 %}
        {% if item.all_procent_profit <= 80 %}
            <tr class="p_tr">
                <td>{{ item.name }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.group_procent_price }}</td>
                <td>{{ item.group_procent_profit }}</td>
                <td>{{ item.all_procent_price }}</td>
                <td>{{ item.all_procent_profit }}</td>
            </tr>
       {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
